{% extends 'base.html' %}

{% block title %}Editar Consulta | HealthLife{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2><i class="bi bi-pencil-square"></i> Editar Consulta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            <i class="bi bi-save2-fill"></i> Guardar cambios
        </button>
        <a href="{% url 'listar_consultas' %}" class="btn btn-secondary">
            <i class="bi bi-x-circle-fill"></i> Cancelar
        </a>
    </form>
</div>
{% endblock %}
